Hospital Management System/Service References/BillService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HospitalService" />
  <xs:element name="AddNurse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="nurse" nillable="true" type="q1:Nurseclass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNurseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HospitalService" minOccurs="0" name="bill" nillable="true" type="q2:BillClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>