Hospital Management System/Service References/NurseService/HospitalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HospitalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HospitalService" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INurseService_AddNurse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNurse" />
  </wsdl:message>
  <wsdl:message name="INurseService_AddNurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNurseResponse" />
  </wsdl:message>
  <wsdl:message name="INurseService_getNurse_InputMessage">
    <wsdl:part name="parameters" element="tns:getNurse" />
  </wsdl:message>
  <wsdl:message name="INurseService_getNurse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNurseResponse" />
  </wsdl:message>
  <wsdl:message name="IBillService_AddBill_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBill" />
  </wsdl:message>
  <wsdl:message name="IBillService_AddBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBillResponse" />
  </wsdl:message>
  <wsdl:portType name="INurseService">
    <wsdl:operation name="AddNurse">
      <wsdl:input wsaw:Action="http://tempuri.org/INurseService/AddNurse" message="tns:INurseService_AddNurse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INurseService/AddNurseResponse" message="tns:INurseService_AddNurse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNurse">
      <wsdl:input wsaw:Action="http://tempuri.org/INurseService/getNurse" message="tns:INurseService_getNurse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INurseService/getNurseResponse" message="tns:INurseService_getNurse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IBillService">
    <wsdl:operation name="AddBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IBillService/AddBill" message="tns:IBillService_AddBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBillService/AddBillResponse" message="tns:IBillService_AddBill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INurseService" type="tns:INurseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNurse">
      <soap:operation soapAction="http://tempuri.org/INurseService/AddNurse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNurse">
      <soap:operation soapAction="http://tempuri.org/INurseService/getNurse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBillService" type="tns:IBillService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBill">
      <soap:operation soapAction="http://tempuri.org/IBillService/AddBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HospitalService">
    <wsdl:port name="BasicHttpBinding_INurseService" binding="tns:BasicHttpBinding_INurseService">
      <soap:address location="http://localhost:8080/NurseService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBillService" binding="tns:BasicHttpBinding_IBillService">
      <soap:address location="http://localhost:8080/BillService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>